streamlit==1.26.0
transformers==4.33.0
gtts==2.2.3
moviepy==1.0.3
ffmpeg-python==0.2.0
librosa==0.10.0.post2
openai==0.28.0
python-dotenv==1.0.0
concurrent-log-handler==0.9.24
tensorflow==2.14.0
tf-keras==2.14.0

